@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  min-width: 960px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #b03738;
  border-radius: 100px;
  height: 20px;
}

.tugas-1 {
  display: flex;
  background-color: #322969;
  color: #cfc9fd;
  font-family: "Lato", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.text-red {
  color: #f6c0d0;
  display: inline;
}

a {
  color: #cfc9fd;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  color: white;
}

h1.left {
  text-align: left;
}

h1.center {
  text-align: center;
}

h2 {
  color: #f6c0d0;
}

hr {
  width: 80%;
  border: 20px 0 0 0;
  border-color: #554b9e;
}

.nav-button {
  color: #cfc9fd;
  display: flex;
  background-color: #292157;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 100ms;
}

.tugas-3 {
  display: block;
  background-color: #322969;
  color: #cfc9fd;
  font-family: "Lato", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  background: linear-gradient(#3a214d, #322969);
}

.section-2-panes {
  display: grid;
  place-items: stretch;
  justify-items: right;
  margin: 2vw 8vw;
  grid-template-columns: 1fr;
}

@media (max-width: 1130px) {
  .section-2-panes {
    grid-template-columns: 1fr 1fr;
  }
}

.section-2-pane {
  background-color: #413882;
  min-height: 4vw;
  padding: 4px 20px;
  margin: 12px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 500ms;
}

.chat-header {
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 2vh 24vw;
  background-color: #413882;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.chat-profile-picture {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.chat-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 80px;
  background-color: #1d193d;
  justify-content: center;
  align-items: center;
}

.conversation {
  display: grid;
  width: 80vw;
  height: 100vh;
  grid-template-columns: 1fr;
}

.conversation-field {
  display: grid;
  justify-content: right;
  padding: 0 24vw;
  gap: 8px;
  height: 100%;
  margin-bottom: 90px;
  margin-top: 120px;
}

.send-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 24vw;
  gap: 8px;
  width: inherit;
  height: 50px;
}

.send-chat {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  background-color: #413882;
  color: #cfc9fd;
  padding: 2px 24px;
  width: 2fr;
  border-radius: 100px;
  border-width: 0;
  transition: background-color 100ms;
}

.send-chat:hover {
  background-color: #554b9e;
}

.send-chat:active {
  background-color: #3d3576;
}

.chat-field {
  width: 100%;
  border-radius: 100px;
  justify-items: right;
  padding: 2px 24px;
  grid-template-columns: 1fr;
}

.chat-bubble {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-self: right;
  background-color: #413882;
  color: #cfc9fd;
  padding: 2px 24px;
  border-radius: 8px;
  margin: 8px;
  max-width: 300px;
  text-align: left;
  text-wrap: wrap;
}
