@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  display: flex;
  background-color: #322969;
  color: #cfc9fd;
  font-family: "Lato", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.main-text {
  width: 600px;
}

h1 {
  font-weight: bold;
}

a {
  color: #cfc9fd;
  background-color: #292157;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
}

a:hover {
  background-color: #463d81;
}
