@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  min-width: 960px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #b03738;
  border-radius: 100px;
  height: 20px;
}

.tugas-1 {
  display: flex;
  background-color: #322969;
  color: #cfc9fd;
  font-family: "Lato", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.text-red {
  color: #f6c0d0;
  display: inline;
}

a {
  color: #cfc9fd;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  color: white;
}

h1.left {
  text-align: left;
}

h1.center {
  text-align: center;
}

h2 {
  color: #f6c0d0;
}

hr {
  width: 80%;
  border: 20px 0 0 0;
  border-color: #554b9e;
}

.nav-button {
  color: #cfc9fd;
  display: flex;
  background-color: #292157;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 100ms;
}

.nav-button:hover {
  background-color: #463d81;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -999;
  background: linear-gradient(#3a214d, #322969);
}

.tugas-2 {
  display: block;
  background-color: #322969;
  color: #cfc9fd;
  font-family: "Lato", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12vw;
  gap: 50px;
}

.wall-of-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-width: 200px;
  padding: 0 0 100px 0;
  padding-top: 0;
}

.profile-picture-container a {
  display: flex;
  align-items: end;
  padding: 0;
  width: 200px;
  height: 300px;
  border-radius: 100px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow: hidden;
}

.profile-picture-background {
  background: linear-gradient(-60deg, white 0 70%, rgb(234, 234, 234) 70% 100%);
  display: flex;
  padding: 0;
  width: 200px;
  border-radius: 50%;
}

.profile-picture {
  width: 100%;
  border-radius: 100%;
  transform: scale(1.35);
  transition: transform 500ms ease-in-out;
}

.profile-picture:hover {
  transform: translateX(10px) translateY(-20px) scale(1.4);
}

.link-bar {
  display: inline-block;
  gap: 20px;
}

.link-bar {
  display: flex;
  justify-content: start;
  height: 48px;
  padding: 8px;
  transition: background-color 100ms;
}

.link {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.link > p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 0px;
  transition: width 500ms, padding 500ms, margin-left 500ms;
  background-color: #413882;
  border-radius: 50px;
  border-width: 0;
  padding: 5px 0px;
  overflow: hidden;
  margin-left: 0px;
}

.link:hover > p {
  width: 100px;
  padding: 5px 4px;
  margin-left: 12px;
}

.link-icons {
  display: block;
  border-radius: 100%;
  width: 3em;
}

.section-2 {
  display: flex;
  flex-direction: column;
  padding: 2vw 12vw;
}

.section-2-rows {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

.section-2-panes {
  display: grid;
  place-items: stretch;
  justify-items: stretch;
  margin: 2vw 8vw;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-2-pane {
  background-color: #413882;
  min-height: 24vw;
  padding: 24px 48px;
  margin: 12px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 500ms;
}

.section-2-pane:hover {
  transform: scale(1.05);
}

.wall-of-text {
  display: block;
  width: 100%;
  text-align: justify;
}

.section-3 {
  padding: 2vw 24vw;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2vw 24vw 24vw 24vw;
}

.nav {
  display: flex;
  justify-content: end;
}
